@charset "utf-8";
/* CSS Document */
/*全局定义*/
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, hr {
    margin: 0;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:focus, input:focus {
    outline: none
}

input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

/*去掉input默认样式*/
a, img, button, input, textarea {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/*去掉点击默认框*/
img {
    border: none;
    vertical-align: middle;
}

h1, h2, h3, h4 {
    font-weight: normal
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    -webkit-font-smoothing: antialiased;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

th, td {
    padding: 0;
}

.clear {
    clear: both;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}

.minWidth {
    min-width: 940px;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    height: 0;
    box-sizing: content-box;
}

/*首页*/
/*index-导航*/
.navbar-wrapper {
    background: url(../img/navbar-bg.png);
    position: absolute;
    repeat-x;
    max-width: 100%;
    min-width: 940px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.navbar-header {
    float: left;
    width: 220px;
    margin-top: 8px;
}

.nav > li {
    position: relative;
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    width: 99px;
    text-align: center;
    line-height: 52px;
    height: 52px;
}

.nav > li:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.nav > li a {
    font-size: 12px;
    color: #fff;
    display: block;
    height: 52px;
    transition: all .4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.nav > li a:hover {
    background-color: rgba(0, 0, 0, 0.15)
}

.navbar-right {
    float: right;
    line-height: 52px;
    width: 168px;
    position: relative;
}

.navbar-right > a {
    display: block;
    color: #fff;
    font-size: 10px;
    width: 84px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    float: left;
    margin-top: 15px;
}

.skioFamily {
    background-color: rgba(0, 0, 0, 0.3);
}

.skioFamily:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.skioGz {
    background-color: rgba(0, 0, 0, 0.5);
}

.skioGz:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/*关注弹出框*/
.focus {
    position: absolute;
    top: 52px;
    color: #fff;
    width: 168px;
    height: 172px;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.focus > img {
    width: 68px;
    height: 68px;
    display: block;
    margin: 20px auto;
}

.focus > p {
    color: #00b1ec;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 15px;
    width: 144px;
    margin-left: auto;
    margin-right: auto;
}

/*index-轮播*/
.Carousel {
    position: relative;
    width: 100%;
    background-color: #1D1D1F;
}

.item {
    width: 100%;
}

.itemUl > li > a {
    width: 240px;
    height: 65px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    display: block;
    text-align: center;
    line-height: 65px;
    font-family: '黑体';
    margin-left: auto;
    margin-right: auto;
    margin-top: 406px;
    border-radius: 5px;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.buttonWayra.more:hover {
    color: #fff;
    border: 2px solid #fff;
}

.buttonWayra.more:hover::before {
    background-color: rgba(255, 255, 255, 0.5);
}

/*基于帮助中心动画，改变背景色*/
/*轮播图*/
/*.flexslider{position:relative;height:620px;overflow:hidden; min-width:940px;}*/
.flexslider {
    margin: 0 0 60px;
    background: #fff;
    /*border: 4px solid #fff;*/
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    zoom: 1;
}

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flexslider .slides {
    zoom: 1;
}

/*.slides{position:relative;z-index:1;}*/
/*.slides li{height:620px;}*/
.flex-control-nav {
    position: absolute;
    bottom: -2px;
    z-index: 2;
    width: 100%;
    text-align: center;
    right: 2.2px;
}

.flex-control-nav li {
    display: inline-block;
    width: 8px;
    height: 55px;
    margin: 0 5px;
    *display: inline;
    zoom: 1;
}

.flex-control-nav a {
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 40px;
    overflow: hidden;
    background: url(../img/index/dot.png) right 0 no-repeat;
    cursor: pointer;
}

.flex-control-nav .flex-active {
    background-position: 0 0;
}

.flex-direction-nav {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 45%;
}

.flex-direction-nav li a {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
}

/*三个优势*/
.rowFirst {
    margin-bottom: 70px;
    margin-top: 70px;
}

/*.rowFirst>ul>li { display: block; width: 268px; height: 151px; float: left; background-image: url(../img/index/icon01.png)/!*tpa=http://skio.cn/statics/front/img/index/icon01.png*!/; background-repeat: no-repeat; position:relative; }*/
.rowFirst > ul > li {
    display: block;
    width: 268px;
    height: 151px;
    float: left;
    position: relative;
}

.rowFirst > ul > li > a {
    display: block;
    width: 268px;
    height: 151px;
}

.energy {
    background-position: 0 0;
}

.safe {
    background-position: 0 0;
    margin: 0 52px;
}

.control {
    background-position: 0 0;
}

/*三种车型*/
.row {
    overflow: hidden;
    padding-top: 61px;
    padding-bottom: 60px;
}

.row .rowLeft {
    float: left;
    display: block
}

.row .rowRight {
    float: right;
    display: block;
}

.row .jieshao {
    width: 268px;
}

.jieshao > div {
    height: 172px;
}

.jieshao h2 {
    font-size: 18px;
    color: #4b4b4b;
    line-height: 28px;
    font-weight: bold;
}

.jieshao p {
    font-size: 12px;
    color: #838383;
    line-height: 18px;
    margin-top: 10px;
}

.row .jieshao .detail {
    font-size: 14px;
    display: block;
    width: 180px;
    height: 38px;
    background-color: #ebebeb;
    color: #4b4b4b;
    line-height: 38px;
    padding-left: 12px;
    background-image: url(../img/index/arrow.png);
    background-repeat: no-repeat;
    background-position: 155px center;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.row .jieshao .detail:hover {
    background-color: rgba(0, 0, 0, 0.15);
    background-position: 159px center;
}

.leadLeft, .carA08 {
    background-color: #ffffff;
    position: relative;
}

.carJf, .carA08, .carR30 {
    overflow: hidden;
    width: 604px;
    height: 210px;
}

.carImg {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.lead {
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 80px;
    right: 66px;
}

.leadA08 {
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 80px;
    left: 66px;
}

.lead p {
    font-size: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, -moz-transform 0.35s;
    -o-transition: opacity 0.35s, -o-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
}

.leadA08 p {
    font-size: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -o-transition: opacity 0.35s, -o-transform 0.35s;
    -moz-transition: opacity 0.35s, -moz-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.leadLeft:hover .carImg {
    opacity: 0.4;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.carA08:hover .carImg {
    opacity: 0.5;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.leadLeft:hover .lead p, .carA08:hover .leadA08 p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

@-webkit-keyframes horizontal {
    16.65% {
        background-position: 168px center;
    }
    33.3% {
        background-position: 140px center;
    }
    49.95% {
        background-position: 165px center;
    }
    66.6% {
        background-position: 145px center;
    }
    83.25% {
        background-position: 160px center;
    }
    100% {
        background-position: 155px center;
    }
}

@-moz-keyframes horizontal {
    16.65% {
        background-position: 168px center;
    }
    33.3% {
        background-position: 140px center;
    }
    49.95% {
        background-position: 165px center;
    }
    66.6% {
        background-position: 145px center;
    }
    83.25% {
        background-position: 160px center;
    }
    100% {
        background-position: 155px center;
    }
}

@-o-keyframes horizontal {
    16.65% {
        background-position: 168px center;
    }
    33.3% {
        background-position: 140px center;
    }
    49.95% {
        background-position: 165px center;
    }
    66.6% {
        background-position: 145px center;
    }
    83.25% {
        background-position: 160px center;
    }
    100% {
        background-position: 155px center;
    }
}

@keyframes horizontal {
    16.65% {
        background-position: 168px center;
    }
    33.3% {
        background-position: 140px center;
    }
    49.95% {
        background-position: 165px center;
    }
    66.6% {
        background-position: 145px center;
    }
    83.25% {
        background-position: 160px center;
    }
    100% {
        background-position: 155px center;
    }
}

/*首页帮助中心*/
.rowLast {
    margin-bottom: 102px;
    margin-top: 61px;
}

/*.rowLast>ul>li { display: block; width: 274px; height: 263px; float: left; background-image: url(../img/index/icon02.png)/!*tpa=http://skio.cn/statics/front/img/index/icon02.png*!/; background-repeat: no-repeat; }*/
.rowLast > ul > li {
    display: block;
    width: 274px;
    height: 263px;
    float: left;
}

.notice {
    background-position: 0 2px;
}

.battery {
    background-position: 0 -261px;
    margin: 0 44px;
}

.contact {
    background-position: 0 -524px;
}

.rowLast > a {
    width: 270px;
    height: 32px;
    display: block;
    float: left;
    text-align: center;
    line-height: 32px;
    color: #fff;
    font-size: 10px;
    background: #fff;
    background-image: url(../img/index/icon03.png);
    background-repeat: no-repeat;
    background-position: 256px 19px;
}

.batteryA {
    margin: 0 44px;
}

.buttonWayra {
    overflow: hidden;
    width: 270px;
    -webkit-transition: border-color 0.3s, color 0.3s;
    transition: border-color 0.3s, color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button {
    min-width: 150px;
    max-width: 270px;
    display: block;
    border: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.buttonWayra::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4b4b4b;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.buttonWayra.buttonInverted:hover {
    border: 1px solid #4b4b4b;
}

.buttonWayra:hover {
    color: #4b4b4b;
}

.buttonWayra:hover::before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

/*底部*/
footer {
    background-color: #f3f3f3;
    width: 100%;
    min-width: 940px;
}

footer p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    text-align: center;
}

.bottomP {
    line-height: 60px;
}

.erweima {
    float: right;
}

.bottomNav > ul {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bottomNav > ul > li {
    float: left;
    margin-right: 72px;
}

.navDl > dt {
    line-height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5)
}

.navDl > dd {
    line-height: 24px;
}

.navDl > dd > a {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3)
}

.navDl > dd > a:hover {
    color: #00b1ec;
}

/*俊风*/
.JfCar h3 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 55px;
}

.JfCar p {
    font-size: 14px;
    color: #838383;
    text-align: center;
    line-height: 20px;
    margin-top: 16px;
}

.Jf-01 {
    /*background-image:url(../img/Jf/Jf-logi.png)*/;
    background-repeat: no-repeat;
    background-position: center 86px;
    padding-top: 235px;
    position: relative;
}

.Jf-01 img {
    margin: 0 auto 0;
    width: 468px;
    height: 221px;
    display: block;
}

.Jf-02 {
    /*background-image:url(../img/Jf/Jf-6030.png)*/;
    background-repeat: no-repeat;
    background-position: center 73px;
    /*padding-top:283px;*/
    position: relative;
    top: 50%;
}

.Jf-02 img {
    margin: 0 auto 0;
    width: 308px;
    height: 309px;
    display: block;
}

.Jf-02 p {
    margin-top: -20px;
}

.Jf-03 {
    /*background-image:url(../img/Jf/Jf-300.png)*/;
    background-repeat: no-repeat;
    background-position: center 73px;
    /*padding-top:283px;*/
    position: relative;
    top: 50%;
}

.Jf-03 p, .Jf-04 p {
    color: #000000;
    margin-top: 295px;
}

.Jf-04 {
    /*background-image:url(../img/Jf/Jf-ch.png)*/;
    background-repeat: no-repeat;
    background-position: center 73px;
    /*padding-top:283px;*/
    position: relative;
    top: 50%;
}

.Public {
    height: 680px;
    min-width: 940px;
}

.floatRight {
    position: absolute;
    right: 0;
    width: 136px;
    z-index: 10;
}

.floatMore {
    position: fixed;
    top: 125px;
    padding-right: 64px;
    background: url(../img/floatMore01.png) no-repeat right center;
    transition: all .4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.floatMore > a {
    display: block;
    color: #00b1ec;
    font-size: 12px;
    width: 72px;
    height: 28px;
    border: 1px solid #00b1ec;
    text-align: center;
    line-height: 28px;
    border-radius: 4px;
    opacity: 0;
    transition: all .4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.floatMore:hover {
    background: url(../img/floatMore02.png) no-repeat right center;
}

.floatMore:hover .moreA {
    opacity: 1;
}

.moreA:hover {
    color: #fff;
    background-color: rgba(0, 177, 236, 0.8);
}

.floatMore > a:first-child {
    margin-bottom: 4px;
}

/*预约试驾*/
.Jf-yuyue form {
    margin: 76px auto;
    width: 260px;
}

.Jf-yuyue ul {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 18px;
}

.Jf-yuyue ul li {
    padding: 12px 0;
}

.Jf-yuyue ul li:first-child {
    border-bottom: 1px solid #d9d9d9;
}

.Jf-yuyue ul li input {
    padding-left: 40px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    background-image: url(../img/icon05.png);
    background-repeat: no-repeat;
    width: 100%;
}

#name {
    background-position: 14px 0px;
    letter-spacing: 0.3px;
}

#phone {
    background-position: 14px -44px;
}

.Jf-yuyue form h3 {
    font-size: 16px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.Submit {
    background-color: #ffc600;
    width: 260px;
    height: 32px;
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

.Submit:hover, .Submit:active {
    background-color: #FC6;
}

.tip {
    margin-top: 12px;
    color: #F00;
    font-size: 12px;
    text-align: center;
}

.tip_hidden {
    display: none;
}

/*悬停图片变大效果*/
.changBig {
    overflow: hidden;
}

.changBig-img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 8s ease;
    -moz-transition: all 8s ease;
    -o-transition: all 8s ease;
    transition: all 8s ease;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
}

.changBig:hover .changBig-img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 8s ease;
    -moz-transition: all 8s ease;
    -o-transition: all 8s ease;
    transition: all 8s ease;
}

/*时空A08*/
.A08Car h3 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 62px;
}

.A08Car p {
    font-size: 14px;
    color: #838383;
    text-align: center;
    line-height: 20px;
    margin-top: 16px;
}

.A08-01 {
    background-image: url(../img/A08/A08top.png);
    background-repeat: no-repeat;
    background-position: center 86px;
    padding-top: 230px;
    position: relative;
}

.A08-01 img {
    margin: 0 auto 0;
    width: 655px;
    height: 253px;
    display: block;
}

.A08-02 {
    background-image: url(../img/A08/A08-1.2t.png);
    background-repeat: no-repeat;
    background-position: center 70px;
    padding-top: 283px;
}

.A08-02 p {
    margin-top: 290px;
}

.A08-02 p, .A08-04 p {
    color: #fff;
}

.A08-03 {
    background-image: url(../img/A08/A08-300.png);
    background-repeat: no-repeat;
    background-position: center 72px;
    padding-top: 295px;
}

.A08-03 img {
    margin: 0 auto 0;
    width: 285px;
    height: 224px;
    display: block;
}

.A08-03 p {
    margin-top: 60px;
    color: rgba(0, 0, 0, 0.5)
}

.A08-04 {
    background-image: url(../img/Jf/Jf-ch.png);
    background-repeat: no-repeat;
    background-position: center 73px;
    padding-top: 283px;
}

/*时空R30*/
.R30Car h3 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 62px;
}

.R30Car p {
    font-size: 14px;
    color: #838383;
    text-align: center;
    line-height: 20px;
    margin-top: 16px;
    letter-spacing: 0.3px;
}

.R30-01 {
    background-image: url(../img/R30/R30-top.png);
    background-repeat: no-repeat;
    background-position: center 86px;
    padding-top: 230px;
    position: relative;
}

.R30-01 img {
    margin: 0 auto 0;
    width: 486px;
    height: 233px;
    display: block;
}

.R30-02 {
    background-image: url(../img/R30/R30-seat.png);
    background-repeat: no-repeat;
    background-position: center 70px;
    padding-top: 190px;
}

.R30-03 {
    background-image: url(../img/R30/R30-330.png);
    background-repeat: no-repeat;
    background-position: center 72px;
    padding-top: 253px;
}

.R30-02 p {
    color: #000;
    margin-top: 290px;
    background: url(../img/R30/R30-seat-icon.png) no-repeat top center;
    padding-top: 90px;
}

.R30-03 p {
    color: #000;
    margin-top: 330px;
    opacity: 0.8
}

.R30-04 p {
    color: #fff;
}

.R30-04 {
    background-image: url(../img/Jf/Jf-ch.png);
    background-repeat: no-repeat;
    background-position: center 73px;
    padding-top: 283px;
}

/*预约成功*/
.marginTop > h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    padding-top: 45px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
}

.success-icon {
    background: url(../img/success.png) no-repeat top center;
    padding-top: 258px;
    margin-top: 50px;
}

.marginTop {
    margin-top: 52px;
}

/*详细参数*/
.canshu {
    margin-top: 30px;
    margin-bottom: 68px;
    letter-spacing: 0.3px;
}

.canshuTable td, .canshuTable th {
    height: 40px;
    padding-left: 32px;
}

.canshuTable tbody tr {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.canshuTable tbody tr:nth-child(even) {
    background: #f2f2f2;
}

.canshuTable thead th {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.canshuTable tbody td:nth-child(2) {
    text-align: right;
    padding-right: 32px;
}

.returnCar {
    width: 140px;
    height: 40px;
    background-color: #4b4b4b;
    display: block;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 34px;
    margin-bottom: 48px;
    float: right;
}

.returnCar:hover {
    opacity: 0.8;
}

/*时空电池*/
.skPower h3 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 48px;
}

.skPower p {
    font-size: 14px;
    color: #838383;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
}

.power-01 {
    background-image: url(../img/power/power-car.png);
    background-repeat: no-repeat;
    background-position: center 80px;
    padding-top: 143px;
}

.power-01 img {
    margin: 0 auto 0;
    width: 245px;
    height: 268px;
    display: block;
}

.powerA {
    width: 72px;
    height: 24px;
    border-radius: 20px;
    display: block;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    line-height: 24px;
}

.powerA:hover {
    background-color: #fff;
    color: #3E3E3E;
}

.power-01 > a {
    margin: 0 auto 60px;
}

/*按钮*/
.power-02 > a {
    margin: 0 auto 20px;
}

/*按钮*/
.power-03 > a {
    margin: 0 auto 0px;
    border: 1px solid #000;
    color: #000;
}

/*按钮*/
.power-03 > a:hover {
    background-color: #333;
    color: #fff;
}

.power-02 {
    background-image: url(../img/power/power-pack01.png);
    background-repeat: no-repeat;
    background-position: center 90px;
    padding-top: 150px;
}

.power-02 h3 {
    margin-top: 336px;
    color: #000;
}

.power-02 p {
    color: #000;
    line-height: 18px;
    margin-top: 370px;
}

.power-03 {
    background-image: url(../img/power/power-bms01.png);
    background-repeat: no-repeat;
    background-position: center 70px;
    padding-top: 130px;
}

.power-03 p {
    color: rgba(0, 0, 0, 0.5);
}

.power-03 img {
    margin: 0 auto 0;
    width: 940px;
    height: 323px;
    display: block;
}

.power-03 h3 {
    color: #000;
    margin-top: 20px;
    line-height: 17px;
}

.powerA-bg {
    background-image: url(../img/power/arrow.png);
    background-repeat: no-repeat;
    background-position: center 8px;
}

.powerA-bg:hover {
    background-image: url(../img/power/arrow.png);
    background-repeat: no-repeat;
    background-position: center -14px;
}

.powerA-bg-bms {
    background-image: url(../img/power/arrow.png);
    background-repeat: no-repeat;
    background-position: center -14px;
}

.powerA-bg-bms:hover {
    background-image: url(../img/power/arrow.png);
    background-repeat: no-repeat;
    background-position: center 8px;
}

/*时空电池BMS*/
.powerPub {
    height: 452px;
    padding-top: 120px;
}

.BMSbg {
    background: url(../img/power/powerBMS-bg.png) no-repeat center top;
    background-color: #ffd426;
}

.power-child {
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 160px;
}

.BMSbg .power-child {
    background-image: url(../img/power/power-bms.png);
}

.BMSA {
    font-size: 12px;
    margin: 0 auto;
    border: 1px solid #000;
    color: #000;
}

.BMSA:hover {
    background-color: #333;
    color: #fff;
}

.powerBMs > li {
    background-image: url(../img/power/power-bms-title.png);
    background-repeat: no-repeat;
    height: 306px;
}

.powerLine > li > p {
    text-align: center;
    padding-top: 190px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 17px;
}

.powerBMs .tiaojian {
    background-position: center 70px;
}

.powerBMs .anquan {
    background-position: center -240px;
}

.powerBMs .jinmi {
    background-position: center -570px;
}

.powerBMs .jueyuan {
    background-position: center -880px;
}

.powerBMs .jianrong {
    background-position: center -1200px;
}

/*BMS参数*/
.BMStable {
    text-align: left;
    margin-top: 30px;
}

.BMStable tr td:first-child {
    width: 236px;
    font-size: 16px;
    color: #000;
    line-height: 28px;
}

.BMStable tr td:last-child {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 30px;
}

.BMStable tr {
    display: block;
    padding-bottom: 30px;
    vertical-align: text-top;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.BMStable tr:first-child {
    margin-top: 0;
}

.BMStable tr:last-child {
    border-bottom: none;
}

/*汽车电池*/
.Carbg {
    background: url(../img/power/powerCar-bg.png) no-repeat center top;
}

.Carbg .power-child {
    background-image: url(../img/power/power-car02.png)
}

.pCarA {
    font-size: 12px;
    margin: 0 auto;
}

.powerCar > li {
    background-image: url(../img/power/power-car-title.png);
    background-repeat: no-repeat;
    height: 306px;
}

.powerCar .jianrong {
    background-position: center 70px;
}

.powerCar .midu {
    background-position: center -240px;
}

.powerCar .anquan {
    background-position: center -570px;
}

/*汽车电池参数*/
.describe {
    margin: 30px auto;
}

.describe > p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    text-indent: 28px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.canshu > h4 {
    margin-top: -10px;
    margin-bottom: 30px;
    color: #000;
}

.canshuTable-power td, .canshuTable-power th {
    height: 40px;
    width: 30%;
    text-align: center;
}

.canshuTable-power tbody tr {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}

.canshuTable-power tbody tr:nth-child(even) {
    background: #f2f2f2;
}

.canshuTable-power thead th {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

/*.canshuTable-power tbody tr:hover{ color:rgba(0,0,0,1)}*/
/*Pack*/
.Packbg {
    background: url(../img/power/powerPack-bg.png) no-repeat center top;
}

.Packbg .power-child {
    background-image: url(../img/power/power-pack.png);
}

.powerPack > li {
    background-image: url(../img/power/power-pack-title.png);
    background-repeat: no-repeat;
    height: 306px;
}

.powerPack .xinneng {
    background-position: center 70px;
}

.powerPack .gjianrong {
    background-position: center -240px;
}

.powerPack .gongneng {
    background-position: center -570px;
}

/*Pack参数*/
.pack-Canshu-h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #000;
}

.pack-Canshu-p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
}

.pack-Canshu-ul > li > h4 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin-bottom: 10px;
}

.pack-Canshu-ul > li > p {
    line-height: 20px;
}

.pack-Canshu-ul > li {
    width: 384px;
    margin-bottom: 60px;
    background-image: url(../img/power/power-pack-img.png);
    background-repeat: no-repeat;
    padding-top: 180px;
}

.pack-nth01, .pack-nth03 {
    float: left;
    display: block
}

.pack-nth02, .pack-nth04 {
    float: right;
    display: block
}

.pack-nth01 {
    background-position: 100px 5px;
}

.pack-nth02 {
    background-position: -160px 5px;
}

.pack-nth03 {
    background-position: -770px 5px;
}

.pack-nth04 {
    background-position: -450px 5px;
}

.deadline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

/*关于时空*/
.aboutBg {
    background: url(../img/aboutBg.jpg) no-repeat center top;
    height: 400px;
}

.about {
    padding-bottom: 30px;
    margin: 0 auto;
}

.about h4 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.85);
    padding-top: 70px;
    padding-bottom: 50px;
}

.about p {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.3px;
    text-indent: 32px;
    margin-bottom: 30px;
}

.about #baiduMap {
    margin-bottom: 55px;
}

/*招聘岗位表格*/
.zpTable {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.zebra td, .zebra th {
    padding: 10px 0 10px 30px;
}

.zpTable table {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.5px;
}

.zebra tbody tr:nth-child(even) {
    background: #f2f2f2;
}

.zebra thead th {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.zebra tbody td:nth-child(1) {
    color: rgba(0, 0, 0, 0.7);
    width: 30%;
}

.zebra tbody td:nth-child(2), .zebra tbody td:nth-child(3) {
    color: rgba(0, 0, 0, 0.8);
}

.zebra thead th:nth-child(2), .zebra tbody td:nth-child(2) {
    text-align: center;
    width: 40%
}

.zebra tbody td:nth-child(3) {
    width: 30%;
}

.post {
    font-weight: bold;
}

.zebra tbody tr:hover .post {
    color: #00b1ec;
}

.zebra tbody tr {
    cursor: pointer;
}

.Flip {
    margin-top: 15px;
}

.Flip > a {
    display: inline-block;
    width: 80px;
    height: 39px;
    border: 1px solid #858183;
    border-radius: 5px;
    color: #8d8d8d;
    text-align: center;
    line-height: 39px;
    float: right;
    margin-right: 8px;
    font-size: 16px;
}

.Flip > a:hover {
    background-color: #858183;
    color: #fff;
}

/*java招聘*/
.PostBg {
    background: url(../img/Post-javaBg.png) no-repeat center top;
    height: 400px;
}

.postDetail {
    font-family: '黑体' !important;
    letter-spacing: 0.2px;
}

.postDetail > h3 {
    font-size: 20px;
    margin: 70px auto 38px;
}

.postDetail > ul {
    margin-bottom: 40px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.postDetail > ul > li {
    color: #666666;
    font-size: 14px;
}

.postDetail > ul > li:first-child {
    margin-bottom: 40px;
    margin-top: 40px;
    color: #000;
}

.returnAbout {
    width: 140px;
    height: 40px;
    background-color: #4b4b4b;
    display: block;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 34px;
    margin-bottom: 100px;
}

.returnAbout:hover {
    opacity: .8;
}

.postDetail hr {
    background-color: rgba(0, 0, 0, 0.15);
}

.hotline {
    margin-bottom: 60px;
    font-size: 16px;
}

.hotline span {
    margin-left: 22px;
}

/*合作伙伴*/
.partnerTOP {
    background-image: url(../img/partner/partner-top.png);
    background-repeat: no-repeat;
    background-position: center 140px;
    padding-top: 283px;
}

.partnerTOP h3 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 295px;
}

.partnerTOP p {
    font-size: 12px;
    color: #838383;
    text-align: center;
    line-height: 17px;
    margin-top: 20px;
}

.project {
    min-width: 940px;
    padding-top: 103px;
    height: 300px;
    cursor: pointer
}

.project img {
    width: 300px;
    height: 94px;
    display: block;
    margin: 0 auto;
}

.partnerMap {
    padding-top: 520px;
    position: relative;
}

.partnerMap h3 {
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.partnerMap p {
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
}

.condition {
    text-align: center;
    padding-top: 88px;
    padding-bottom: 88px;
}

.condition > h1 {
    background: url(../img/partner/partner-hz.png) no-repeat center;
    width: 158px;
    height: 37px;
    margin: 0 auto;
}

.condition > h4 {
    background: url(../img/icon04.png) no-repeat top;
    margin-top: 58px;
    padding-top: 58px;
}

.condition > p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
}

.condition-h1-p {
    margin-top: 38px;
}

.condition > span {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #fff;
    line-height: 32px;
    margin: 40px auto 20px;
}

.star {
    position: absolute;
    top: 52.5%;
    left: 59%;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    -webkit-transform: scale(0);
    -webkit-animation-name: janim;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
}

/*发光点*/
.star b {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 10px;
    background-color: #1DA6DB;
    -webkit-transform: scale(2);
    opacity: .2;
    -webkit-animation: zdjpop .8s infinite;
}

@-webkit-keyframes janim {
    0% {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    50% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes janim {
    0% {
        -moz-transform: scale(0.2);
        transform: scale(0.2);
    }
    50% {
        -moz-transform: scale(2.5);
        transform: scale(2.5);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes janim {
    0% {
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50% {
        -o-transform: scale(2.5);
        transform: scale(2.5);
    }
    100% {
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes janim {
    0% {
        -ms-transform: scale(0.2);
        transform: scale(0.2);
    }
    50% {
        -ms-transform: scale(2.5);
        transform: scale(2.5);
    }
    100% {
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes janim {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes zdjpop {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(5);
        transform: scale(5);
    }
}

@-moz-keyframes zdjpop {
    0% {
        opacity: 1;
        -moz-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(5);
        transform: scale(5);
    }
}

@-o-keyframes zdjpop {
    0% {
        opacity: 1;
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        opacity: 0;
        -o-transform: scale(5);
        transform: scale(5);
    }
}

@-ms-keyframes zdjpop {
    0% {
        opacity: 1;
        -ms-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        opacity: 0;
        -ms-transform: scale(5);
        transform: scale(5);
    }
}

@-webkit-keyframes zdjpop {
    0% {
        opacity: 1;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(5);
        transform: scale(5);
    }
}

/*帮助中心*/
.center-01 h3 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 400px;
}

.center-01 p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 20px;
    margin-top: 16px;
}

.center-01 {
    background-image: url(../img/helpCenter/center-top.png);
    background-repeat: no-repeat;
    background-position: center 145px;
    padding-top: 180px;
}

.center-01 img {
    margin: 0 auto 0;
    width: 652px;
    height: 243px;
    display: block;
}

.center-02-ul {
    text-align: center;
    color: #fff;
    padding-top: 106px;
}

.center-02-ul li {
    width: 330px;
    height: 194px;
    background: url(../img/helpCenter/shadow.png) no-repeat 135px 3px;
}

.center-02-ul li h3 {
    font-size: 16px;
    color: #fff;
    margin: 30px auto 18px;
}

.center-02-ul li p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 18px;
}

.center-02-ul li:first-child, .center-02-ul li:nth-child(3) {
    float: left;
    margin-left: 100px;
}

.center-02-ul li:nth-child(2), .center-02-ul li:nth-child(4) {
    float: right;
    margin-right: 100px;
}

.center-02-ul li:nth-child(4), .center-02-ul li:nth-child(3) {
    margin-top: 80px;
}

.center-icon {
    width: 92px;
    height: 92px;
    background-color: #fff;
    border-radius: 92px;
    display: block;
    margin: 0 auto;
    background-image: url(../img/helpCenter/center-icon.png);
    background-repeat: no-repeat;
    transition: all .4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.center-icon:hover {
    background-image: url(../img/helpCenter/center-icon02.png);
    background-repeat: no-repeat;
    background-color: #275A7E;
}

.icon-technology {
    background-position: 25px 25px;
}

.icon-plan {
    background-position: -100px 25px;
}

.icon-partake {
    background-position: -225px 25px;
}

.icon-produce {
    background-position: -352px 25px;
}

.carbook {
    text-align: center;
    margin: 100px auto;
}

.carbook h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.85);
}

.carbook p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 45px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

/*电池银行*/
.bankBg {
    background: url(../img/power/power-bank-bg.png) no-repeat center top;
    height: 400px;
}

.bankmain > h3 {
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.bankDescribe img {
    margin: 96px auto 68px;
    width: 745px;
    height: 429px;
    display: block;
}

.bankDescribe p {
    font-size: 14px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
    text-indent: 28px;
}

.bankDescribe {
    margin-bottom: 118px;
}

.notice p, .battery p, .contact p {
    border-top: 3px solid black;
    border-color: #1FB3A9;
    padding-top: 18px;
    font-weight: bold;
    color: grey;
}

.notice h3, .battery h3, .contact h3 {
    margin-top: 16px;
    font-size: 15px;
    /* margin-left: 3px; */
    color: #878787;
    font-weight: bold;

}

.notice h2, .battery h2, .contact h2 {
    font-size: 24px;
    /* margin-top: 16px; */
    /* margin-left: 6px; */
    color: #5E5E5E;
}

.rowLast > ul > li {
    padding: 16px 4px 15px 4px;
}